body {
    font-size: 33px;
    font-family: 'Agency FB', Arial, Helvetica, sans-serif;
    background-color: #31bedd;
    padding-left: 40px;
}

nav {
    display:block;
}

.menu {
    padding-left: 10px;
}

.menu ul {
    list-style:none;
}

.menu li {
    display: inline;
}

.menu a:hover {
    color:red;
}

table {
    vertical-align:middle;
    text-align:left;
}

.header {
    font-weight:bold;
}

td {
    padding-right:10px;
}
