@model Website.Models.Products

@{
    ViewBag.Title = "GetProduct";
}

<h2>GetProduct</h2>

@Html.DisplayForModel() <br />
@Html.DisplayFor(m => m.Manufacture) <br />
@Html.DisplayFor(m => m.Price) <br />