@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Mvc Store is a simple project. Created for an example using ASP.NET Core 2.0. All products and people are fictitious...</p>
