@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Store is a simple project. Created as an example using ASP.NET MVC Core 2.0. All products and users are fictitious...</p>
<br />
<h2>Some links:</h2>
<ul>
    <li><a href="https://www.linkedin.com/in/andrey-sanin-472698154/">My profile on linkedin.com</a></li>
    <li><a href="https://github.com/avsanin8/WebStoreAbstract">My profile on github.com</a></li>
</ul>
<p></p>
