@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Store is a simple project. Created as an example using ASP.NET MVC Core 2.0. All products and users are fictitious...</p>
<br />
<h2>Some links:</h2>
<ul>
    <li><a href="https://www.linkedin.com/in/andrey-sanin-472698154/">My profile on linkedin.com</a></li>
    <li><a href="https://github.com/avsanin8/WebStoreAbstract/tree/master/CoreMVCStore/MvcStore">My profile on github.com</a></li>
    <li><a href="https://djinni.co/q/7a96002b/">My profile on djinni.co (with PDF resume)</a></li>
</ul>
The site was provided to demonstrate the technology ASP.NET MVC Core 2.0<br />
    Was deployed on Azure <a href="https://azure.microsoft.com">azure.microsoft.com</a><br />
    Then was relocated on <a href="https://www.gearhost.com">www.gearhost.com</a> <br />
    and migrated to last version netcoreapp2.1 <br />
<strong>Site created vith:</strong><br />
    Microsoft Visual Studio Community 2017<br />
    Version 15.5.2<br />
    Last Update: 12/19/2017<br />
    Microsoft .NET Framework<br />
    Version 4.7.02556<br />
<strong>Migrated on netcoreapp2.2:</strong><br />
    Microsoft Visual Studio Community 2017<br />
    Version 15.9.3<br />
    Microsoft .NET Framework <br />
    Version 4.7.03056 <br />
<p></p>
