@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Ukraine<br />
    Kahovka<br />
    @*<abbr title="Phone">P:</abbr>*@   
</address>

<address>
    <strong>Support:</strong> <a href="avsanin8@gmail.com">avsanin8@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
